@use '../../Styles/variables.scss' as v;

.menu {
    position: fixed;
    height: 100vh;
    top: calc(v.$headerHeight + v.$gutter-medium);
    left: 0;
    width: v.$MenuWidth;
    font-size: .9em;
    // display: flex;
    // flex-flow: column;
    // justify-content: center;
    // overflow-x: hidden;
    // overflow-y: scroll;
    // background: radial-gradient(ellipse 100% 90% at center, rgb(53, 73, 119),rgb(1, 6, 19));
    // box-shadow: 5px 0 10px 1px rgba(0, 10, 68, 0.255),
    //             7px 0 10px 7px rgba(5, 17, 83, 0.115);
    // transform: translateZ(0);
    // transition: width 300ms ease;
    z-index: 400;            
        
    &::before{
        content: "";
        position: fixed;
        top: 0;
        left: - v.$MenuWidth;
        height: 100%;
        width: v.$MenuWidth;
        // background: radial-gradient(ellipse 100% 90% at center, rgb(53, 73, 119),rgb(1, 6, 19));
        box-shadow: -5px 0 10px 3px rgba(3, 25, 37, 0.155),
        -10px 0 20px 10px rgba(4, 139, 250, 0.041);  
        transform: translateX(v.$MenuWidth) translateZ(0);
        clip-path: polygon(0% 0%, 120% 0%, 120% 120%, 0% 120%);
        transition: transform 300ms ease;           
    }

    &--list{
        display: block;
        list-style: none;
        padding: 0;

         &-children{
            margin: 2em v.$gutter-medium;
            &.active {
                pointer-events: none;
                cursor: none;
            }
        }
    }   

    &--link{
        position: relative;
        display: inline-block;
        // color: white;
        color: rgb(98, 205, 255);
        text-decoration: none;
        transition: color 200ms ease-out, letter-spacing 200ms ease-out;
        letter-spacing: .0255rem;
        width: 100%;

        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: - v.$gutter-medium;
            bottom: 0;
            transform: var(--newPosition, translateY(0));
            transition: transform 200ms ease;
            pointer-events: none;
            cursor: none;
        }

        &:hover{
            color: rgb(171, 238, 243);
            letter-spacing: .125rem;
        }

        &:active{
            color: white;
        }

        &.active {
            color: rgb(171, 238, 243);
            letter-spacing: .115rem;

            &::after{
                border-right: 3px solid white;
            }
        }

        svg{
            display: inline;
            vertical-align: middle;
            width: 100%;
        }

        span {
           opacity: 1;
           transition: opacity 200ms ease;
        }
    }

    &--btn{

        border: none;
        background: none;
        cursor: pointer;
        color:rgb(98, 205, 255);
        transform: translateX(0);
        transition: transform 200ms ease;

            &:hover{
                color: rgb(171, 238, 243);
            }
    }

}
            // position:absolute;
            // top: calc((v.$headerHeight + v.$gutter-medium) + (v.$gutter-medium / 2));
            // right: calc(-1 * (v.$BtnWidth - v.$gutter-medium / 2));