@use '../../Styles/variables.scss' as v;

.main--wrapper{
    overflow: visible;
    border-left: 1px solid rgb(213, 224, 241);
    padding-block-end: calc(v.$titleStickyHeight + v.$gutter-medium);
    width: 100%;
    opacity: 0;
    transition: opacity 300ms ease-in;
    
    &.active{
        opacity: 1;
    }

    &--div{
        padding-inline: v.$gutter-medium;
        padding-block-start: v.$gutter-medium;

            &-inner{
                display: grid;
                grid-auto-rows: auto;
                gap: v.$gutter-medium;

                .sliderHome{
                    padding-block: 1rem;
                    grid-column: span 2;
                    min-height: 200px;
                    border-bottom: 1px solid rgb(213, 224, 241);
                    clip-path: polygon(.1% 0%, 99.9% 0%, 99.9% 100%, .1% 100%);
                    z-index: 100;
                }
                .widget-populaire{
                    display: none;
                    grid-column: 2 / span 1; 
                    position: sticky;
                    top: calc((v.$headerHeight + v.$titleStickyHeight) + 1px);
                    right: 0;
                    height: calc(100vh - ((v.$headerHeight + v.$titleStickyHeight + v.$navMovileHeight) + 1rem));  
                    min-width: 300px;
                    margin-top: calc(v.$titleStickyHeight - 1rem);
                }
                .grid-content:nth-child(3){
                    grid-column: span 2; 
                    grid-row: 2 / span 1; 
                    margin-top: - v.$gutter-medium;
                    max-width: 800px;
                    margin-inline: auto;
                }
                

                .menu--title{
                    position: sticky;
                    top: calc(v.$headerHeight + 1px); 
                    left: 0;
                    color: v.$color--text--primary;
                    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.116);
                    font-weight: bold;
                    font-size: 1.2em;
                    opacity: 0;
                    text-align: start;
                    margin: 0;
                    height: v.$titleStickyHeight;
                    line-height: v.$titleStickyHeight;
                    backdrop-filter: blur(2px);
                    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
                    border-bottom: 1px solid rgb(213, 224, 241);
                    transform: rotateX(-45deg);
                    transition: opacity 500ms ease, transform 300ms ease-in;
                    transition-delay: 200ms, 200ms;
                    z-index: 800;
                    
                    &.active{
                        opacity: 1;
                        transform: rotateX(0);
                    }
                }

                .duContenu{
                    position: relative;
                    padding-block: v.$gutter-medium;
                    box-sizing: border-box;

                    &::before{
                        content: "";
                        position: sticky;
                        margin-top: calc(-1 * (v.$titleStickyHeight + 3rem));
                        top:v.$headerHeight;
                        left:0;
                        right: 0;
                        display: block;
                        height: calc(v.$titleStickyHeight + 3rem);
                        width: 100%;
                        background: linear-gradient(to bottom, white 50%, rgba(255, 255, 255, 0.219) 100%, transparent);
                    }
                        p{
                            text-align: left;
                        }
                }
            }
    }
}

@media (min-width: 960px) {
  
    #WidgetPopulaire{
        display: block;
    }
    .main--wrapper{
        &--div{

            &-inner{
                .grid-content:nth-child(3) {
                    grid-column: span 1; 
                    max-width: unset;
                }
            }
        }
    }

}

@media (min-width: 1080px) {
  
    .main--wrapper{
        padding-block-end: 0;
    }

    #WidgetPopulaire{
        top: calc((v.$headerHeight + v.$titleStickyHeight) + 1px);
        height: calc(100vh - (v.$headerHeight + v.$titleStickyHeight + 1rem));
    }  
}