
$gutter-medium: 1rem;

// == HEADER VAR
$headerHeight: 90px;
$navMovileHeight: 68px;
$titleStickyHeight: 2.5rem;
// == MENU VAR


$color-primary: #ffff;

$color--text--primary: #62CDFF;

$color-textHover: #ABEEF3;

// $color-gradient: radial-gradient(ellipse at top, transparent,  rgba(0, 171, 250, 0.400), rgba(0, 171, 250, 0.400));
// 767E83 25% 10

// F6F6F6

//767E83 ombre texte 