@use '/src/Styles/variables.scss' as v;

.App {
  // position: relative;
  text-align: center;

    .app--container{
      position: relative;
      display: flex;
      flex-direction: column-reverse;
    }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  background-clip: content-box;
  // background-color: rgb(98, 205, 255);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: rgb(98, 205, 255);
}
