@use '/src/Styles/variables.scss' as v;

.App {
  text-align: center;
  overflow: hidden;

  .main--wrapper{
    padding-left: v.$MenuWidth;
    // padding-top: calc(2 * (v.$headerHeight + v.$gutter-medium));
    padding-top: v.$headerHeight;
    transition: padding-left 300ms ease;
    will-change: padding-left;
  }

  &.off {
    
      .main--wrapper{
        padding-left: v.$MenuWidthClose;

        @media (max-width: 480px){
          padding-left: v.$MenuWidthMobileClose;
        }
      }

      .menu {
        width: v.$MenuWidthClose;

        @media (max-width: 480px){
          width: v.$MenuWidthMobileClose;
        }

          &::before{
            transform: translateX(v.$MenuWidthClose) translateZ(0);

            @media (max-width: 480px){
              transform: translateX(v.$MenuWidthMobileClose) translateZ(0);
            }
          }

          span {
            opacity: 0;
          }
    }
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  background-clip: content-box;
  // background-color: rgb(98, 205, 255);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: rgb(98, 205, 255);
}
