@use '/src/Styles/variables.scss' as v;

.App {
  text-align: center;

  .main--wrapper{
    padding-left: v.$MenuWidth;
    transition: padding-left 300ms ease;
    will-change: padding-left;
    overflow: hidden;
  }

  &.off {
    
      .main--wrapper{
        padding-left: v.$MenuWidthClose;

        .menu--title{
          width: calc(100% - v.$MenuWidth + 0.5em);
        }
      }

      .menu {
        width: v.$MenuWidthClose;

          &::before{
            transform: translateX(v.$MenuWidthClose) translateZ(0);
          }

          span {
            opacity: 0;
          }
    }
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: rgb(98, 205, 255);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: rgb(98, 205, 255);
}
